@import "mf-styling/color-primary-fuchsia.css";
@import "mf-styling/color.css";
@import "mf-styling/global.css";
@import "mf-styling/table.css";
@import "mf-styling/button.css";
@import "mf-styling/form.css";

button[aria-keyshortcuts*="Enter"] {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
