build
tests
doc
*.log
*.tmp
.node-version
.vscode
.github
netlify.toml
jsconfig.json
pkg
playwright.config.js
vite.config.mts
dist
.last-run.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
